<section>
    <ul>
        <li>
            <input type="checkbox">
            <input type="text">

            <button>
                <img src="../../../../../assets/icons/icon-trash.svg" alt="">
            </button>
        </li>

        <li>
            <input type="checkbox">
            <input type="text" class="checked">

            <button>
                <img src="../../../../../assets/icons/icon-trash.svg" alt="">
            </button>
        </li>
    </ul>
</section>

<app-listinha-input-add-items></app-listinha-input-add-items>
<app-listinha-button-delete-all></app-listinha-button-delete-all>

